fixed_wf.json
{
  "updatedAt": "2026-02-20T07:51:50.425Z",
  "createdAt": "2026-02-20T01:42:15.217Z",
  "id": "MhhPOCMHhekhCKHF",
  "name": "MASTER - Leitor de PDF e Orquestrador",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Extrator de Dados PDF Acad\u00c3\u00aamico",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Insira o PDF Mestre",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "11",
      "name": "Form_Upload_Aba_Browser",
      "position": [
        -176,
        0
      ],
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "webhookId": "d234780f-1d64-418a-a8ff-43381c7c016a"
    },
    {
      "parameters": {
        "url": "https://qhjyvdywvdcbdgicwjzu.supabase.co/rest/v1/trabalhos_academicos?id=not.is.null",
        "options": {}
      },
      "id": "55",
      "name": "Limpar_Historico_Supabase",
      "position": [
        144,
        -304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Insira_o_PDF_Mestre",
        "options": {}
      },
      "id": "66",
      "name": "Extract_From_File",
      "position": [
        272,
        0
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n    const text = item.json.text || \"\";\n    if (!text) continue;\n    \n    const CHUNK_SIZE = 12000;\n    for (let i = 0; i < text.length; i += CHUNK_SIZE) {\n        let chunk = text.substring(i, i + CHUNK_SIZE);\n        \n        outputItems.push({\n            json: {\n                texto_bruto: chunk,\n                bloco_atual: Math.floor(i / CHUNK_SIZE) + 1,\n                paginas_estimadas: `${Math.floor(i / 2000) + 1} a ${Math.floor((i + CHUNK_SIZE) / 2000) + 1}`\n            }\n        });\n    }\n}\n\nif (outputItems.length === 0) {\n    return [{ json: { error: \"Nenhum texto encontrado no PDF\", texto_bruto: \"Vazio.\" } }];\n}\n\nreturn outputItems;"
      },
      "id": "2",
      "name": "Split_Text_JS",
      "position": [
        512,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80",
      "name": "Loop_Lotes",
      "position": [
        752,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "WORKER - Extrator Academia em Chunks",
          "cachedResultUrl": "/workflow/EEJXd3ftWC9TW8QZ",
          "mode": "list",
          "value": "EEJXd3ftWC9TW8QZ"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        },
        "options": {}
      },
      "id": "3",
      "name": "Despacha_Lotes",
      "position": [
        960,
        112
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "81",
      "name": "Aguardar_Delay",
      "position": [
        1152,
        112
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "2152dc2c-c189-445c-bd9c-6cd614066309"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {}
      },
      "id": "44",
      "name": "Finalizar_Excel",
      "position": [
        960,
        -96
      ],
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2
    }
  ],
  "connections": {
    "Aguardar_Delay": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop_Lotes",
            "type": "main"
          }
        ]
      ]
    },
    "Despacha_Lotes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Aguardar_Delay",
            "type": "main"
          }
        ]
      ]
    },
    "Extract_From_File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split_Text_JS",
            "type": "main"
          }
        ]
      ]
    },
    "Form_Upload_Aba_Browser": {
      "main": [
        [
          {
            "node": "Extract_From_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar_Historico_Supabase": {
      "main": [
        []
      ]
    },
    "Split_Text_JS": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop_Lotes",
            "type": "main"
          }
        ]
      ]
    },
    "Loop_Lotes": {
      "main": [
        [
          {
            "node": "Despacha_Lotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalizar_Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "13284be2-592d-4bf6-b724-85e1dcc03138",
  "activeVersionId": "13284be2-592d-4bf6-b724-85e1dcc03138",
  "versionCounter": 102,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-20T01:42:15.217Z",
      "createdAt": "2026-02-20T01:42:15.217Z",
      "role": "workflow:owner",
      "workflowId": "MhhPOCMHhekhCKHF",
      "projectId": "fc2u3ULt8vtvUhZu",
      "project": {
        "updatedAt": "2025-11-12T14:18:01.530Z",
        "createdAt": "2025-11-12T14:11:07.936Z",
        "id": "fc2u3ULt8vtvUhZu",
        "name": "Jos\u00c3\u00a9 Junior <cuper.nasciimento@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c47b22f8-cce9-448a-97b4-d02075a51ee8",
        "projectRelations": [
          {
            "updatedAt": "2025-11-12T14:11:07.936Z",
            "createdAt": "2025-11-12T14:11:07.936Z",
            "userId": "c47b22f8-cce9-448a-97b4-d02075a51ee8",
            "projectId": "fc2u3ULt8vtvUhZu",
            "user": {
              "updatedAt": "2026-02-20T03:17:54.966Z",
              "createdAt": "2025-11-12T14:11:06.633Z",
              "id": "c47b22f8-cce9-448a-97b4-d02075a51ee8",
              "email": "cuper.nasciimento@gmail.com",
              "firstName": "Jos\u00c3\u00a9",
              "lastName": "Junior",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-12T14:18:37.442Z",
                "personalization_survey_n8n_version": "1.119.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "x8VqtzzD3C9fEwb8",
                "userActivatedAt": 1763086077126,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763431104856
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-20T07:51:50.430Z",
    "createdAt": "2026-02-20T07:51:50.430Z",
    "versionId": "13284be2-592d-4bf6-b724-85e1dcc03138",
    "workflowId": "MhhPOCMHhekhCKHF",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Extrator de Dados PDF Acad\u00c3\u00aamico",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Insira o PDF Mestre",
                "fieldType": "file",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "id": "11",
        "name": "Form_Upload_Aba_Browser",
        "position": [
          -176,
          0
        ],
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "webhookId": "d234780f-1d64-418a-a8ff-43381c7c016a"
      },
      {
        "parameters": {
          "url": "https://qhjyvdywvdcbdgicwjzu.supabase.co/rest/v1/trabalhos_academicos?id=not.is.null",
          "options": {}
        },
        "id": "55",
        "name": "Limpar_Historico_Supabase",
        "position": [
          144,
          -304
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "Insira_o_PDF_Mestre",
          "options": {}
        },
        "id": "66",
        "name": "Extract_From_File",
        "position": [
          272,
          0
        ],
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n    const text = item.json.text || \"\";\n    if (!text) continue;\n    \n    const CHUNK_SIZE = 12000;\n    for (let i = 0; i < text.length; i += CHUNK_SIZE) {\n        let chunk = text.substring(i, i + CHUNK_SIZE);\n        \n        outputItems.push({\n            json: {\n                texto_bruto: chunk,\n                bloco_atual: Math.floor(i / CHUNK_SIZE) + 1,\n                paginas_estimadas: `${Math.floor(i / 2000) + 1} a ${Math.floor((i + CHUNK_SIZE) / 2000) + 1}`\n            }\n        });\n    }\n}\n\nif (outputItems.length === 0) {\n    return [{ json: { error: \"Nenhum texto encontrado no PDF\", texto_bruto: \"Vazio.\" } }];\n}\n\nreturn outputItems;"
        },
        "id": "2",
        "name": "Split_Text_JS",
        "position": [
          512,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "continueOnFail": true
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "80",
        "name": "Loop_Lotes",
        "position": [
          752,
          0
        ],
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "cachedResultName": "WORKER - Extrator Academia em Chunks",
            "cachedResultUrl": "/workflow/EEJXd3ftWC9TW8QZ",
            "mode": "list",
            "value": "EEJXd3ftWC9TW8QZ"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": true,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [],
            "value": {}
          },
          "options": {}
        },
        "id": "3",
        "name": "Despacha_Lotes",
        "position": [
          960,
          112
        ],
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "amount": 2
        },
        "id": "81",
        "name": "Aguardar_Delay",
        "position": [
          1152,
          112
        ],
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "webhookId": "2152dc2c-c189-445c-bd9c-6cd614066309"
      },
      {
        "parameters": {
          "operation": "toFile",
          "fileFormat": "xlsx",
          "options": {}
        },
        "id": "44",
        "name": "Finalizar_Excel",
        "position": [
          960,
          -96
        ],
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 2
      }
    ],
    "connections": {
      "Aguardar_Delay": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop_Lotes",
              "type": "main"
            }
          ]
        ]
      },
      "Despacha_Lotes": {
        "main": [
          [
            {
              "index": 0,
              "node": "Aguardar_Delay",
              "type": "main"
            }
          ]
        ]
      },
      "Extract_From_File": {
        "main": [
          [
            {
              "index": 0,
              "node": "Split_Text_JS",
              "type": "main"
            }
          ]
        ]
      },
      "Form_Upload_Aba_Browser": {
        "main": [
          [
            {
              "node": "Extract_From_File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar_Historico_Supabase": {
        "main": [
          []
        ]
      },
      "Split_Text_JS": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop_Lotes",
              "type": "main"
            }
          ]
        ]
      },
      "Loop_Lotes": {
        "main": [
          [
            {
              "node": "Despacha_Lotes",
              "type": "main",
              "index": 0
            },
            {
              "node": "Finalizar_Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jos\u00c3\u00a9 Junior",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-20T07:51:50.556Z",
        "id": 100,
        "workflowId": "MhhPOCMHhekhCKHF",
        "versionId": "13284be2-592d-4bf6-b724-85e1dcc03138",
        "event": "activated",
        "userId": "c47b22f8-cce9-448a-97b4-d02075a51ee8"
      }
    ]
  }
}